@font-face {
  font-family: "AldotheApache";
  src: url("../ressources/fonts/AldotheApache.ttf"); }
@font-face {
  font-family: "Aero";
  src: url("../ressources/fonts/Aero.ttf"); }
@font-face {
  font-family: "Neuropolitical";
  src: url("../ressources/fonts/neuropolitical.ttf"); }
body {
  margin: 0; }

.alignementDroite {
  position: absolute;
  bottom: 0;
  top: 50%;
  width: 100%; }

.alignementGauche {
  position: absolute;
  bottom: 50%;
  top: 0;
  width: 100%; }
  .alignementGauche img {
    display: none; }
  .alignementGauche a span, .alignementGauche a img {
    vertical-align: middle; }
  .alignementGauche a img {
    max-height: 100px; }

.container {
  position: relative;
  margin-top: 9em; }

.menuNavigation {
  text-decoration: none;
  text-align: center;
  padding: 0; }
  .menuNavigation li {
    margin: 5px;
    display: inline;
    font-family: "Neuropolitical";
    font-size: 12px; }

section {
  display: block;
  height: 480px; }

header .placementIconeMenu {
  width: 100%;
  height: 100%; }
  header .placementIconeMenu span, header .placementIconeMenu img {
    vertical-align: middle; }
header a {
  display: inline;
  text-decoration: none; }
header a:link {
  color: black; }
header a:visited {
  color: black; }
header a:hover {
  color: #3399FF; }
header .valign {
  height: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1; }
header #titreMenu {
  margin-left: 10px; }
header .flex {
  height: 100%;
  text-align: right;
  padding-right: 10%; }
  header .flex img {
    max-height: 35px;
    height: 100%;
    width: auto; }
header .flexGauche {
  height: 100%;
  text-align: center; }
  header .flexGauche img {
    max-height: 35px;
    height: 100%;
    width: auto; }
  header .flexGauche h1 {
    font-family: "Aero";
    font-size: 35px; }

.imgBackground {
  width: 100%;
  height: 100%;
  background-image: url(../ressources/img/3300.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%; }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  z-index: 3;
  background-color: white; }
  footer ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0; }
    footer ul li {
      margin: 10px;
      width: auto; }
      footer ul li a {
        font-size: 10px;
        font-family: "Neuropolitical";
        text-decoration: none; }
      footer ul li ul li {
        width: 100%; }
        footer ul li ul li a {
          font-family: "Neuropolitical";
          font-size: 8px;
          text-shadow: 1px 1px #ffffff;
          font-style: italic;
          text-decoration: none; }
        footer ul li ul li a:link {
          color: black; }
        footer ul li ul li a:visited {
          color: black; }
        footer ul li ul li a:hover {
          color: #3399FF; }

.hidden {
  display: none; }

@media only screen and (max-height: 380px) {
  #placementLogoHeader img {
    max-height: 50px; } }
@media only screen and (min-width: 750px) {
  .alignementDroite {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: auto;
    top: auto;
    width: auto;
    height: 100%; }

  .alignementGauche {
    position: absolute;
    left: 0;
    right: 50%;
    height: 100%;
    bottom: auto;
    top: auto;
    width: auto; }

  #placementLogoHeader a:visited {
    color: black; }
  #placementLogoHeader a:link {
    color: black;
    font-style: none;
    text-decoration: none; }

  #titreHeader {
    display: inline;
    margin-left: 30px;
    font-size: 25px;
    font-family: "Aero";
    vertical-align: middle; } }

/*# sourceMappingURL=global.css.map */
