@font-face {
  font-family: "AldotheApache";
  src: url("../ressources/fonts/AldotheApache.ttf"); }
@font-face {
  font-family: "Aero";
  src: url("../ressources/fonts/Aero.ttf"); }
@font-face {
  font-family: "Neuropolitical";
  src: url("../ressources/fonts/neuropolitical.ttf"); }
/*
@media screen and (min-width:$largeurSmartphone)
  {
    #navAccueil
    {
      ul
      {
        li
        {
          //width : 45%;
          height : 25px;
          //margin: 5px;;
          background-color: rgba(255,255,255,0.7);
          border: 2px black solid;
          border-radius: 4px;
          padding : 10px;
        }

        li:hover
        {
          font-size: 20px;
        }
      }
    }

    #footerAccueil
    {
      ul
      {
        li
        {
          width : 100%;
          height : 20px;
        }
      }
    }
}

//Tablette
@media screen and (min-width:$largeurTablette)
{
  #navAccueil
  {
    top:0;
    right : 0;
    left:0;
    width : 100%;

    ul
    {
      text-align: center;
      margin: 10px;
      padding: 0;
      display: block;
    }
  }

  #footerAccueil
  {
    ul
    {
      text-align: center;
      margin: 10px;
      padding: 0;
      display: block;
    }
  }

  #milieuAccueil
  {
    position:absolute;
    right : 20%;
    left : 20%;
  }

  #titreAccueil
  {
    font-size: 250%;
    font-family: $fontTitre;
  }

  #sousTitreAccueil
  {
    width : 40%;
    top : 40px;
  }
}

@media screen and (min-width:$largeurLaptop)
{
  #milieuAccueil
  {
    position:absolute;
    right : 20%;
    top : 40%;
    z-index: 2;
    width : 60%;
    height : 200px;

    img
    {
      float : left;
      display : inline-block;
      height : 100%;
      width: auto;
    }
  }

  #titreAccueil
  {
    display : inline-block;
    text-align: left;
    text-shadow: 4px -2px #ffffff;
    position : absolute;
    top : 0;
    margin-top: 10px;
    margin-left : 30px;
    margin-bottom: 10px;
    z-index: 2;
    width : 40%;
    height : 40%;
    font-size: $tailleTitre;
    font-family: $fontTitre;
  }

  #sousTitreAccueil
  {
    display : inline-block;
    position : absolute;
    top : 30%;
    text-align : left;
    text-shadow: 2px -1px #ffffff;
    margin-top: 3%;
    margin-left: 30px;
    z-index: 2;
    width : 50%;
    height : 50px;
    font-size : $tailleSousTitre;
    font-family: $fontSousTitre;
    font-style: italic;
  }

  #backgroundAccueil
  {
    z-index: 0;
    opacity : 0.6;
    position : fixed;
    top : 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #footerAccueil
  {
    position : absolute;
    bottom: 5%;
    width : 100%;
    height : 10%;
    z-index : 1;

    ul
    {
      margin-left : 10%;
      margin-right: 10%;
      bottom : 2%;
      text-align: center;

      li
      {
        display: inline-block;
        margin : 5px;

        a
        {
          font-family: $fontLien;
          font-size : 10px;
          text-shadow: 1px 1px #ffffff;
        }

        a:link
        {
          color : $mainColor;
        }

        a:visited
        {
          color : $mainColor;
        }

        a:hover
        {
          color : #3399FF;
        }
      }
    }
  }

  #navAccueil
  {
    position : absolute;
    top : 10px;
    right : 10px;
    width : 60%;
    z-index:1;

    ul
    {
      display : inline-block;
      margin-left: 15%;
      list-style: none;

      li
      {
        display: inline-block;
        margin : 5px;

        a
        {
          font-family: $fontLien;
          text-shadow: 2px 2px #ffffff;
        }

        a:link
        {
          color : $mainColor;
        }

        a:visited
        {
          color : $mainColor;
        }

        a:hover
        {
          color : #3399FF;
        }

      }
    }
  }
}
*/
#milieuAccueil {
  position: absolute;
  top: 20%;
  right: 5%;
  left: 5%;
  z-index: 2;
  height: auto; }
  #milieuAccueil img {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 200px; }

#titreAccueil {
  display: block;
  text-shadow: 4px -2px #ffffff;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  font-size: 50px;
  font-family: "Aero"; }

#sousTitreAccueil {
  display: block;
  text-align: center;
  text-shadow: 2px -1px #ffffff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-size: 20px;
  font-family: "Neuropolitical";
  font-style: italic; }

#backgroundAccueil {
  z-index: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: hidden; }

#footerAccueil {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  z-index: 3;
  background-color: white; }
  #footerAccueil ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0; }
    #footerAccueil ul li {
      margin: 5px;
      width: auto; }
      #footerAccueil ul li a {
        font-family: "Neuropolitical";
        font-size: 8px;
        text-shadow: 1px 1px #ffffff;
        font-style: italic;
        text-decoration: none; }
      #footerAccueil ul li a:link {
        color: black; }
      #footerAccueil ul li a:visited {
        color: black; }
      #footerAccueil ul li a:hover {
        color: #3399FF; }
      #footerAccueil ul li ul li {
        width: 100%; }

#titreFooter {
  font-size: 10px !important;
  font-style: normal !important; }

#navAccueil {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 13%;
  z-index: 3;
  background-color: white; }
  #navAccueil ul {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none; }
    #navAccueil ul li {
      font-size: 150%;
      padding: 2%;
      width: 100%;
      height: 100%;
      margin: 0; }
      #navAccueil ul li img {
        width: 50px;
        height: auto;
        margin-left: 17%; }
      #navAccueil ul li a {
        font-family: "Neuropolitical";
        text-shadow: 2px 2px #ffffff; }
      #navAccueil ul li ul {
        border-top: 1px rgba(0, 0, 0, 0.5) solid; }
        #navAccueil ul li ul li {
          border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
          background-color: white;
          width: auto;
          font-size: 15px; }
          #navAccueil ul li ul li a:link {
            color: black; }
          #navAccueil ul li ul li a:visited {
            color: black; }
          #navAccueil ul li ul li a:hover {
            color: #3399FF; }

#titreMenu {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 5%; }

@media only screen and (min-width: 380px) {
  #navAccueil {
    height: 10%; }
    #navAccueil ul {
      margin-top: 1.5%;
      vertical-align: top; }
      #navAccueil ul li {
        padding: 0; }
        #navAccueil ul li img {
          float: left;
          width: 40px;
          margin-left: 65%;
          margin-top: 2.5%; }
        #navAccueil ul li ul {
          margin-top: 0; }
          #navAccueil ul li ul li {
            padding: 10px; }
            #navAccueil ul li ul li a {
              font-size: 25px;
              margin-left: 10%; }

  #milieuAccueil img {
    width: 300px; } }
@media only screen and (min-width: 780px) {
  #navAccueil {
    height: 10%; }
    #navAccueil ul {
      margin-top: 0;
      vertical-align: top; }
      #navAccueil ul li {
        padding: 0; }
        #navAccueil ul li a {
          width: 20%;
          height: 100%;
          line-height: 100%;
          margin-left: 79%;
          display: inline-block; }
          #navAccueil ul li a img {
            width: 40px;
            margin-left: 2%;
            margin-top: 20px;
            margin-bottom: auto; }
        #navAccueil ul li ul {
          height: auto; }
          #navAccueil ul li ul li a {
            display: inline; }

  #titreMenu {
    margin-top: 28px; } }

/*# sourceMappingURL=index.css.map */
