@charset "UTF-8";
nav {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  /*
  background: rgba(255,255,255,$opaciteDegrade);
  background: -webkit-linear-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: -o-linear-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: -moz-linear-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: linear-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  */ }
  nav ul {
    position: absolute;
    right: 2%;
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin: 5px; }
      nav ul li a {
        font-family: arial; }
      nav ul li a:link {
        color: black; }
      nav ul li a:visited {
        color: black; }
      nav ul li a:hover {
        color: white; }

footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 20%;
  z-index: 1; }
  footer ul {
    position: absolute;
    text-align: center; }
    footer ul li {
      display: inline-block;
      margin: 5px; }
      footer ul li a {
        font-family: arial; }
      footer ul li a:link {
        color: black; }
      footer ul li a:visited {
        color: black; }
      footer ul li a:hover {
        color: white; }

.background {
  z-index: 1;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

#milieuAccueil {
  position: absolute;
  right: 20%;
  top: 40%;
  z-index: 2;
  width: 60%;
  height: 200px;
  /*
  //Gradient
  background: rgba(255,255,255,$opaciteDegrade);
  background: -webkit-linear-gradient(rgba(255,255,255,$opaciteDegrade), rgba(0,0,0,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: -o-linear-gradient(rgba(255,255,255,$opaciteDegrade), rgba(0,0,0,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: -moz-linear-gradient(rgba(255,255,255,$opaciteDegrade), rgba(0,0,0,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: linear-gradient(rgba(255,255,255,$opaciteDegrade), rgba(0,0,0,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  */
  /*
  background: rgba(125,125,125,$opaciteDegrade);
  background: -webkit-radial-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: -o-radial-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: -moz-radial-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  background: radial-gradient(rgba(0,0,0,$opaciteDegrade), rgba(125,125,125,$opaciteDegrade), rgba(255,255,255,$opaciteDegrade));
  */ }
  #milieuAccueil img {
    float: left;
    display: inline-block;
    height: 100%;
    width: auto; }

#titreAccueil {
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 0;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  z-index: 2;
  width: 40%;
  height: 40%;
  font-size: 50px;
  font-family: arial; }

#sousTitreAccueil {
  display: inline-block;
  position: absolute;
  top: 30%;
  text-align: left;
  margin-top: 10px;
  margin-left: 30px;
  z-index: 2;
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-family: arial;
  font-style: italic; }

#video-fond {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  background-size: cover; }

/*
#video-fond {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#video-fond > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
// 1. Pas de support d'object-fit
@media (min-aspect-ratio: 16/9) {
  #video-fond > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-fond > video {
    width: 300%;
    left: -100%;
  }
}
// 2. En cas de support d'object-fit, écrase les règles en (1)
@supports (object-fit: cover) {
  #video-fond > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
*/

/*# sourceMappingURL=style.css.map */
