//Fonts
@import "class/_variables.scss";

//BG Commun
@import "class/_videoBackGround.scss";

body
{
  margin :0;
}

section
{
  display: block;
  width : 100%;
  height: 520px;
}

//header
.alignementDroite
{
  //EN BAS
  position: absolute;
  bottom: 0;
  top: 50%;
  width : 100%;
}

.alignementGauche
{
  //EN HAUT
  position: absolute;
  bottom: 50%;
  top: 0;
  width : 100%;

  img
  {
    display: none;
  }

  a
  {
    span,img
    {
      vertical-align: middle;
    }

    img
    {
      max-height: 100px;
    }
  }
}

.container
{
  position : relative;
  margin-top: 9em;
}

.menuNavigation
{
  text-decoration: none;
  text-align: center;
  padding: 0;

  li
  {
    margin: 5px;
    display: inline;
    font-family: $fontLien;
    font-size: 12px;
  }
}

header
{
    .placementIconeMenu
      {
          width: 100%;
          height: 100%;

          span,img
          {
            vertical-align: middle;
          }
      }

      a
      {
        display: inline;
        text-decoration: none;
      }

      a:link
      {
        color : $mainColor;
      }

      a:visited
      {
        color : $mainColor;
      }

      a:hover
      {
        color : #3399FF;
      }

      .valign
      {
        height: 100%;
        display: inline-block;
        *display: inline; zoom: 1;
      }

      #titreMenu
      {
        margin-left: 10px;
      }

      .flex
      {
        height : 100%;
        text-align:right;
        padding-right: 10%;

        img
        {
          max-height: 35px;
          height: 100%;
          width: auto;
        }
      }

      .flexGauche
      {
        height: 100%;
        text-align: center;

        img
        {
          max-height: 35px;
          height: 100%;
          width: auto;
        }

        h1
        {
          font-family: $fontTitre;
          font-size: 35px;
        }
      }
}

//Présentation
.imgBackground
{
  width : 100%;
  height: 100%;
  background-image: url(../ressources/img/3300.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 42%;
}

.ancres
{
  height: 0px;
  position: relative;
  top: -9.5em;
  visibility: hidden;
}

.titreSection
{
  border : 2px black solid;
  border-radius: 5px;

  margin: 5px;
  text-align: center;

  font-size: 10px;
  font-family: $fontSousTitre;
  font-style: italic;
}

#milieuAccueil
{
  img
  {
    padding-top: 40px;
    display : block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height : 100%;
    width: 200px;
  }
}

#titreAccueil
{
  display : block;
  text-shadow: 4px -2px #ffffff;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left : auto;
  margin-right: auto;
  height : 40%;
  font-size: 50px;
  font-family: $fontTitre;
}

#sousTitreAccueil
{
  display: block;
  text-align : center;
  text-shadow: 2px -1px #ffffff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height : 50px;
  font-size : 20px;
  font-family: $fontSousTitre;
  font-style: italic;
}

//infos pratique
#carte
{
  width: 100%;

  iframe
  {
    margin-top: 5px;
    width:100%;
    height:250px;
  }
}

#adresse
{
  width: 100%;
  text-align: center;
  margin-top: 50px;

  p,h3,a
  {
    margin-left: 10px;
  }

  h3
  {
    font-family: $fontTitre
  }

  p
  {
    font-family: $fontSousTitre;
    font-size: 10px;
  }

  a
  {
    font-family: $fontSousTitre;
    font-size: 10px;
  }
}

//devis
@import "class/_middleBody.scss";
@import "class/_backgroundBorne.scss";

#formulaireDevis
{
  display: block;
  width :  100%;

  form
  {
    margin-top: 10px;
    font-family: $fontLien;
    font-size: 12px;

    input,textarea,select,p
    {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
    }

    textarea
    {
      height : 100px;
    }
  }
}

#submit
{
  margin-top: 20px;
  background-color: #2980b9;
  border-radius: 2px;
  border: 1px black solid;
  color: white;
  font-weight:bold;
  font-style: italic;
  font-size: 12px;
  font-family: $fontLien;
  height : 30px;
}

#submit:hover
{
  opacity: 0.5;
  font-size: 14px;
}

//footer
footer
{
  display: block;
  width: 100%;
  background-color: white;

      ul
      {
        text-align: center;
        padding: 0;

        li
        {
          display: inline;
          padding-left:5px;

          a
          {
            font-family: $fontLien;
            font-size : 8px;
            text-shadow: 1px 1px #ffffff;
            font-style: italic;
            text-decoration: none;
          }

          a:link
          {
            color : $mainColor;
          }

          a:visited
          {
            color : $mainColor;
          }

          a:hover
          {
            color : #3399FF;
          }
        }
      }
}

.hidden
{
  display: none;
}

@media only screen and (max-height:$hauteurSmartphoneCouche)
{
  #placementLogoHeader
  {
    img
    {
      max-height: 50px;
    }
  }
}

@media only screen and (min-width:$largeurTabletteMini)
{
  .alignementDroite
  {
    position: absolute;
    left: 50%;
    right: 0;
    bottom : auto;
    top : auto;
    width: auto;
    height: 100%;
  }

  .alignementGauche
  {
    position: absolute;
    left: 0;
    right: 50%;
    height: 100%;
    bottom : auto;
    top : auto;
    width: auto;
  }

  #titreAccueil
  {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #sousTitreAccueil
  {
    margin-top: 5px;
  }


  #placementLogoHeader
  {
    a:visited
    {
      color : $mainColor;
    }

    a:link
    {
      color: $mainColor;
      font-style: none;
      text-decoration: none;
    }
  }

  #titreHeader
  {
    display : inline;
    margin-left : 30px;
    font-size: 25px;
    font-family: $fontTitre;
    vertical-align: middle;
  }

  #milieuAccueil
  {
    p,img
    {
      display: block;
    }
  }
}
