//Fonts
@import "class/_variables.scss";

//BG Commun
@import "class/_videoBackGround.scss";

//header
.alignementDroite
{
  position: absolute;
  left: 50%;
  right: 0;
  height: 100%;
}

.alignementGauche
{
  position: absolute;
  left: 0;
  right: 50%;
  height: 100%;
}

header
{
    position : fixed;
    top : 0;
    right : 0;
    height : 17%;
    width : 100%;
    z-index : 1;

    nav
    {
      width: 100%;
      height: 100%;

        ul
        {
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;
          width : 100%;
          height: 100%;
          list-style: none;

          li
          {
            width: 100%;
            height : 100%;
            padding: 0;

            a
            {
              font-family: $fontLien;
              text-shadow: 2px 2px #ffffff;
              font-size: 15px;
              text-decoration: none;
            }

            a:visited
            {
              color: $mainColor;
            }

            ul
            {
              border-top: 1px rgba(0,0,0,0.5) solid;
              height : auto;

              li
              {
                border: 1px rgba(0,0,0,0.5) solid;
                background-color: white;
                width : auto;
                font-size: 15px;
                padding : 5px;

                a
                {
                  display: inline;
                }

                a:link
                {
                  color : $mainColor;
                }

                a:visited
                {
                  color : $mainColor;
                }

                a:hover
                {
                  color : #3399FF;
                }
              }
            }
          }
        }
      }

      .placementIconeMenu
      {
          width: 100%;
          height: 100%;

          span,img
          {
            vertical-align: middle;
          }
      }

      .valign
      {
        height: 100%;
        display: inline-block;
        *display: inline; zoom: 1;
      }

      #titreMenu
      {
        margin-left: 10px;
      }

      .flex
      {
        height : 100%;
        text-align:right;
        padding-right: 10%;

        img
        {
          max-height: 35px;
          height: 100%;
          width: auto;
        }
      }

      .flexGauche
      {
        height: 100%;
        text-align: center;

        img
        {
          max-height: 35px;
          height: 100%;
          width: auto;
        }
      }
}


#placementLogoHeader
{
  width : 100%;
  height: 100%;

  span,img
  {
    vertical-align: middle;
  }

  img
  {
    max-height: 100px;
  }
}

#titreHeader
{
  display: none;
}

//footer
footer
{
  position : fixed;
  bottom: 0;
  right : 0;
  left : 0;
  height : auto;
  z-index : 3;
  background-color: white;

  ul
  {
    text-align: center;
    margin-left : auto;
    margin-right: auto;
    padding: 0;
    margin: 0;

    li
    {
      margin : 10px;
      width : auto;

      a
      {
        font-size: 10px;
        font-family: $fontSousTitre;
        text-decoration: none;
      }

      ul
      {
        li
        {
          width : 100%;

          a
          {
            font-family: $fontLien;
            font-size : 8px;
            text-shadow: 1px 1px #ffffff;
            font-style: italic;
            text-decoration: none;
          }

          a:link
          {
            color : $mainColor;
          }

          a:visited
          {
            color : $mainColor;
          }

          a:hover
          {
            color : #3399FF;
          }
        }
      }
    }
  }
}

.hidden
{
  display: none;
}

@media only screen and (max-height:$hauteurSmartphoneCouche)
{
  #placementLogoHeader
  {
    img
    {
      max-height: 50px;
    }
  }
}

@media only screen and (min-width:$largeurTabletteMini)
{
  #placementLogoHeader
  {
    a:visited
    {
      color : $mainColor;
    }

    a:link
    {
      color: $mainColor;
      font-style: none;
      text-decoration: none;
    }
  }

  #titreHeader
  {
    display : inline;
    margin-left : 30px;
    font-size: 25px;
    font-family: $fontTitre;
    vertical-align: middle;
  }
}
