//Fonts
@import "class/_variables.scss";

//BG Commun
@import "class/_videoBackGround.scss";

//header
header
{
    position : fixed;
    top : 0;
    right : 0;
    height : 150px;
    width : 100%;
    z-index : 1;

    nav
    {
      float : right;
      width : 40%;
      height : 100px;
      margin-right:10px;
      display: inline-block;
      vertical-align: top;

      ul
      {
        display : inline-block;
        margin-left: 10%;
        list-style: none;

        li
        {
          display: inline-block;
          margin : 5px;

          a
          {
            font-family: $fontLien;
            text-shadow: 2px 2px #ffffff;
          }

          a:link
          {
            color : $mainColor;
          }

          a:visited
          {
            color : $mainColor;
          }

          a:hover
          {
            color : #3399FF;
          }

        }
      }
    }
}

#placementLogoHeader
{
  display:inline-block;
  vertical-align:top;
  z-index: 2;
  width : 35%;
  height : 100px;
  margin-top : 10px;
  margin-left : 10px;

  img
  {
    float : left;
    display : inline-block;
    height : 100%;
    width: auto;
  }
}

#titreHeader
{
  display : inline-block;
  text-align: left;
  margin-top: 10px;
  margin-left : 30px;
  margin-bottom: 0px;
  width : 150px;
  height : 30px;
  font-size: 25px;
  font-family: $fontTitre;
}

#sousTitreHeader
{
  display : inline-block;
  text-align : left;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom : 0px;
  width : 55%;
  height : 50px;
  font-size : 15px;
  font-family: $mainFont;
  font-style: italic;
}

//footer
footer
{
  position : fixed;
  left: 0;
  bottom : 10px;
  width : 100%;
  height : 50px;
  z-index : 1;

  ul
  {
    margin-left : 10%;
    margin-right: 10%;
    bottom : 2%;
    text-align: center;

    li
    {
      display: inline-block;
      margin : 5px;

      a
      {
        font-family: $fontLien;
        font-size : 10px;
        text-shadow: 1px 1px #ffffff;
      }

      a:link
      {
        color : $mainColor;
      }

      a:visited
      {
        color : $mainColor;
      }

      a:hover
      {
        color : #3399FF;
      }
    }
  }
}

.hidden
{
  display: none;
}
