@import "class/_variables.scss";

#milieuAccueil
{
  img
  {
    display : block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height : 100%;
    width: 200px;
  }
}

#titreAccueil
{
  display : block;
  text-shadow: 4px -2px #ffffff;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left : auto;
  margin-right: auto;
  height : 40%;
  font-size: 50px;
  font-family: $fontTitre;
}

#sousTitreAccueil
{
  display: block;
  text-align : center;
  text-shadow: 2px -1px #ffffff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height : 50px;
  font-size : 20px;
  font-family: $fontSousTitre;
  font-style: italic;
}

#backgroundAccueil
{
  z-index: 0;
  opacity : 0.6;
  position : fixed;
  top : 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: hidden;
}

#footerAccueil
{
  display : block;
  width : 100%;
  height : auto;
  background-color: white;

  ul
  {
    text-align: center;
    margin-left : auto;
    margin-right: auto;
    padding: 0;
    margin: 0;

    li
    {
      margin : 5px;
      width : auto;

      a
      {
        font-family: $fontLien;
        font-size : 8px;
        text-shadow: 1px 1px #ffffff;
        font-style: italic;
        text-decoration: none;
      }

      a:link
      {
        color : $mainColor;
      }

      a:visited
      {
        color : $mainColor;
      }

      a:hover
      {
        color : #3399FF;
      }

      ul
      {
        li
        {
          width : 100%;
        }
      }
    }
  }
}

#titreFooter
{
  font-size: 10px !important;
  font-style: normal !important;
}

#menuComplet
{
  position : fixed;
  left : 0;
  top : 0;
  width : 100%;
  height : 9em;

  background-color: white;
  border-bottom: 5px black solid;
}

#navAccueil
{

  ul
  {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width : 100%;
    height: 100%;
    list-style: none;

    li
    {
      width: 100%;
      height : 100%;
      padding: 0;

      a
      {
        font-family: $fontLien;
        text-shadow: 2px 2px #ffffff;
        font-size: 15px;
      }

      ul
      {
        border-top: 1px rgba(0,0,0,0.5) solid;
        height : auto;

        li
        {
          border-bottom: 1px rgba(0,0,0,0.5) solid;
          background-color: white;
          width : auto;
          font-size: 15px;
          padding : 5px;

          a
          {
            display: inline;
          }

          a:link
          {
            color : $mainColor;
          }

          a:visited
          {
            color : $mainColor;
          }

          a:hover
          {
            color : #3399FF;
          }
        }
      }
    }
  }
}

.placementIconeMenu
{
    width: 100%;
    height: 100%;

    span,img
    {
      vertical-align: middle;
    }
}

.valign
{
  height: 100%;
  display: inline-block;
  *display: inline; zoom: 1;
}

#titreMenu
{
  margin-left: 10px;
}

.flex
{
  height : 100%;
  text-align: center;

  img
  {
    max-height: 35px;
    height: 100%;
    width: auto;
  }
}

@media only screen and (min-width:$largeurSmartphone)
{
    #milieuAccueil
    {
      img
      {
        width : 300px;
      }
    }
}

@media only screen and (min-width:$largeurTabletteMini)
{
  #navAccueil
  {
    ul
    {
      li
      {
        a
        {
          font-size: 25px;
        }
      }
    }
  }

  .flex
  {
    width : 30%;
    margin-left: 69%;

    img
    {
      max-height: 55px;
    }
  }
}

@media only screen and (min-width:$largeurTablette)
{
  #milieuAccueil
  {
    top : 30%;
    right : 20%;
    left: 20%;

    img
    {
      float : left;
      height : 100%;
      width: 250px;
    }
  }

  #titreAccueil
  {
    margin-top: 7%;
    margin-left: 50%;
    text-align: left;
  }

  #sousTitreAccueil
  {
    margin-top: 10px;
    height : auto;
    font-size : 20px;
    margin-left: 50%;
    text-align: left;
  }
}

@media only screen and (min-width:$largeurLaptop)
{
  #titreAccueil
  {
    margin-left: 35%;
  }

  #sousTitreAccueil
  {
    margin-left: 35%;
  }
}
