//Variables
$mainColor: black;
$mainFont : arial;
$tailleTitre : 50px;

//CSS
nav
{
  width : 30%;
  height : 20%;
  position : absolute;
  right : 2%;
  z-index: 2;

  ul
  {
    list-style: none;

    li
    {
      display: inline-block;
      margin : 5px;

      a
      {
        font-family: $mainFont;
      }

      a:link
      {
        color : $mainColor;
      }

      a:visited
      {
        color : $mainColor;
      }

      a:hover
      {
        color : white;
      }

    }
  }
}

.background
{
  z-index: 1;
  opacity : 0.3;
  position : fixed;
  top : 0;
  bottom: 0;
  right: 0;
  left: 0;
}

//Accueil
#milieuAccueil
{
  position:absolute;
  right : 20%;
  top : 40%;
  z-index: 2;
  width : 60%;
  height : 200px;
}

#titreAccueil
{
  text-align: left;
  position : absolute;
  right : 0;
  z-index: 2;
  width : 60%;
  height : 100px;
  font-size: $tailleTitre;
  font-family: $mainFont;
}


@import "_videoBackGround.scss";
