@font-face {
    font-family: "AldotheApache";
    src: url('../ressources/fonts/AldotheApache.ttf');
}

@font-face {
    font-family: "Aero";
    src: url('../ressources/fonts/Aero.ttf');
}

@font-face {
    font-family: "Neuropolitical";
    src: url('../ressources/fonts/neuropolitical.ttf');
}
