//Fonts
@import "_newFonts.scss";

//Variables
$mainColor: black;
$mainFont : arial;
$tailleTitre : 80px;
$tailleSousTitre : 15px;
$fontTitre : "Aero";
$fontSousTitre : "Neuropolitical";
$fontLien : "Neuropolitical";
$opaciteDegrade : 0.4;

//Taille ecran
$largeurLaptop:1280px;
$largeurTablette:1025px;
$largeurTabletteMini:768px;
$largeurSmartphone:380px;
$hauteurLaptop:800px;
$hauteurTablette:2048px;
$hauteurSmartphone:667px;
