//Fonts
@import "_newFonts.scss";

//Variables
$mainColor: black;
$mainFont : arial;
$tailleTitre : 80px;
$tailleSousTitre : 15px;
$fontTitre : "Aero";
$fontSousTitre : "Neuropolitical";
$fontLien : "Neuropolitical";
$opaciteDegrade : 0.4;
